<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ativo</title>
    <link rel="stylesheet" href="{% static 'app_item/item_page.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <h1 class="title_holder">Ativo item</h1>
    <div class="container">
        <p class="item_title">{{ item.box_title }}</p>
        <img class="image_holder" src="{{ item.box_image.url }}" alt="{{item.box_title}}">
        <p class="item_price">{{ item.box_price }}</p>
        <p class="item_address">{{ item.box_adress }}</p>
        <p class="date_pub">Дата публикации - {{ item.box_pub_date }}</p>
    </div>
    <a href="{% url 'index' %}"><button type="button" class="btn btn-dark"><- отменить</button></a>
  </body>
</html>