<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ativo</title>
    {% load static %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
        div {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    </style>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <!--
    <form action="" method="POST">
      <label>Название</label>
      <input name="title" type="text" value="{{ form.title }}"/>

      <label>Изображение</label>
      <input name="img" type="image" value="{{ form.img }}"/>

      <label>цена</label>
      <input name="price" type="number" value="{{ form.price }}"/>
        
      <label>адресс</label>
      <input name="address" type="text" value="{{ form.address }}"/>

      <input type="submit" value="Создать"/>
      {% csrf_token %}
    </form>
    -->
    <form action = "#" method = "post" enctype="multipart/form-data">
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <h2>Ativo creator</h2>
                    <p class="lead">
                        Add new item
                    </p>
                </div>
                <div class="row g-5">
                    <div class="col-md-7 col-lg-8">
                        <!--<label for="">Name</label>
                        {{ form.box_title }}
                        <label for="">price</label>
                        {{ form.box_price }}
                        <label for="">address</label>
                        {{ form.box_adress }}
                        <label for="">image</label>
                        {{ form.box_image }}-->
                        {% for f in form %}
                        <p><label class="form-label" for="f.id">{{f.label}}:</label>{{f}}</p>
                        {% endfor %}
                        {% csrf_token %}
                        <button action="#" type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </main>
        </div>
    </form>
  </body>
</html>
