body {
    margin: 0;
    padding: 0;
    background-color: rgb(187, 237, 220);
}
.list_class {
    list-style: none;
}

.container {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-right: 4vw;
    padding-left: 4vw;
    height: 300vh;
}
.rows {
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
}
.box_class {
    margin-top: 2vh;
    height: 28vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-style: solid;

}
.item {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.image_holder > img {
    max-width: 30vw;
    max-height: 20vh;
}
.title_holder {
    font-weight: bold;
    text-align: center;
}